<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ksdshpx.mybatis.dao.EmployeeMapper">
	<!-- 
		namespace:指定为接口的全类名
	 -->
	<select id="selectEmp" resultType="cn.ksdshpx.mybatis.beans.Employee">
		select * from tbl_employee where id = #{id}
	</select>
	
	<!-- public Employee getEmployeeById(Integer id); -->
	<select id="getEmployeeById" resultType="employee" databaseId="mysql">
		select id,last_name as lastName,gender,email from tbl_employee where id = #{id}
	</select>
	
	<select id="getEmployeeById" resultType="employee" databaseId="oracle">
		select empno as id,ename as lastName from emp where empno = #{id}
	</select>
	
	<!-- public void addEmployee(Employee employee); 
		parameterType:可以省略
		mysql支持自增主键，自增主键值的获取，MyBatis也是利用Statement.getGeneratedKeys()
		useGeneratedKeys="true":使用自增主键获取主键值策略
		keyProperty:指定对应的主键属性，也就是MyBatis获取到主键值以后，将这个值封装给JavaBean的哪个属性
	-->
	<insert id="addEmployee" parameterType="cn.ksdshpx.mybatis.beans.Employee" useGeneratedKeys="true" keyProperty="id" databaseId="mysql">
		insert into tbl_employee(last_name,email,gender) values (#{lastName},#{email},#{gender})
	</insert>
	<!-- public void updateEmployee(Employee employee); -->
    <update id="updateEmployee">
    	update tbl_employee set last_name=#{lastName},email=#{email},gender=#{gender} where id=#{id}
    </update>
	<!-- public void deleteEmployeeById(Integer id); -->
	<delete id="deleteEmployeeById">
		delete from tbl_employee where id = #{id}
	</delete>
	
	<!-- public Employee getEmployeeByIdAndLastName(Integer id, String lastName); -->
	<select id="getEmployeeByIdAndLastName" resultType="cn.ksdshpx.mybatis.beans.Employee">
		<!-- 
			多个参数方式一
			select * from tbl_employee where id = #{param1} and last_name = #{param2} 
		-->
		<!-- 
			多个参数方式二
			select * from tbl_employee where id = #{0} and last_name = #{1} 
		-->
		<!-- 命名参数 -->
		select * from tbl_employee where id = #{id} and last_name = #{lastName} 
	</select>
</mapper>