<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 
		1、mybatis可以使用properties来引入外部的properties配置文件的内容 
			resource:引入类路径下资源
			url:引入网络或磁盘路径下资源
	-->
	<properties resource="dbconfig.properties"></properties>
	<!-- 
		2、使用settings可以设置mybatis运行时行为
	 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<!-- 
		3、typeAliases：别名处理器，可以为java类型起别名，别名不区分大小写
	 -->
	<typeAliases>
		<!-- <typeAlias type="cn.ksdshpx.mybatis.beans.Employee" alias="employee"/> -->
		<!-- 
			package:为某个包下的所有类批量起别名,若有名称重复，使用@Alias注解具体指定
				name:指定包名(为当前包以及下面所有的后代包的每一个类起一个默认别名(类名小写))
		-->
		<package name="cn.ksdshpx.mybatis.beans"/>
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}" />
				<property name="url"
					value="${jdbc.url}" />
				<property name="username" value="${jdbc.user}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>
	<!-- 将我们写好的sql映射文件一定要注册到全局配置文件中 -->
	<mappers>
		<mapper resource="EmployeeMapper.xml" />
	</mappers>
</configuration>